NOCOLOR='\033[0m'
RED='\033[0;31m'
GREEN='\033[0;32m'

echo -e "${GREEN} ✅ Loading CultureLinux/Proxmox [proxmox-clone-env] ${NOCOLOR}"


export PROXMOX_VE_ENDPOINT='https://PROXMOX_FQDN:8006/'
export PROXMOX_VE_INSECURE=true
export PROXMOX_VE_API_TOKEN='opentofu@pve!opentofu=PROXMOX_TOKEN'
