
NOCOLOR='\033[0m'
RED='\033[0;31m'
GREEN='\033[0;32m'

echo -e "${GREEN} ✅ Loading Scaleway API ${NOCOLOR}"

# Generate here https://console.scaleway.com/iam/api-keys
export SCW_ACCESS_KEY="access key"
export SCW_SECRET_KEY="secret key"
